In [ ]:
# !pip install imblearn

In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.preprocessing import StandardScaler , OneHotEncoder
from sklearn.compose import ColumnTransformer

In [26]:
df = pd.read_csv(r'C:\Users\Hanif ullah laptop\Desktop\Loan Default Prediction\data\clean_data.csv')
df.head()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0

In [27]:
df['Education'].unique().tolist()

["Bachelor's", "Master's", 'High School', 'PhD']

In [ ]:
nom_col =['EmploymentType' ,'MaritalStatus','HasMortgage','HasDependents','LoanPurpose','HasCoSigner'] 
cat_col = ['Education']

In [ ]:
encod_transformer = ColumnTransformer ( [
    ("OneHotEncoder" , OneHotEncoder(),nom_col) 
    ("OneHotEncoder" , OneHotEncoder(categaries = "Bachelor's", "Master's", 'High School', 'PhD') ,nom_col) 
    ]
)


stan_transformer = ColumnTransformer ( [
    ("standard_scaler" , OneHotEncoder(),nom_col) 
     ]
)